<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>{{ page.title }}</title>
</head>
<body>
  <div style="max-height: 450px; overflow: hidden;" class="mt-5 d-flex align-items-center justify-content-center">
    <img src="{{ "assets/images/hero.jpg" | relative_url }}" class="img-fluid" alt="Cover image">
  </div>
  <div class="container py-5 text-center">
    <h1 class="display-2 mt-5">A Taste of Thailand</h1>
    <h1>Sorry, we're closed until further notice</h1>
    <p>We're sorry for any inconvenience.</p>
  </div>
</body>
</html>